
.card-information .card-header,
.modal-header{
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

.modal .modal-content .modal-header{
  padding: 15px;
}

.card-information .card-footer{
  border-top: 1px solid rgba(0,0,0,.125) !important;
}

.card-information .card-header h4{
  margin: 0;
}

.card-information,
.card-information p{
  font-size: 14px;
  margin: 0;
}

.sidebar .nav .nav-item-fixed-bottom{
  position: absolute;
  width: 100%;
  bottom: 10px;
}

@media(max-width: 991px){
  .sidebar .nav .nav-item-fixed-bottom{
    position: relative !important;
  }
}

.card-dispositivo .card-body .col{
  padding: 0;
}
.rango-group,
.card-dispositivo .card-body .row{
  position: relative;
}
.rango-group .btn-remove,
.card-dispositivo .dispositivo-config-link,
.card-dispositivo .btn-config-dropdown{
  position: absolute;
  top: -6px;
  right: 3px;
}
.rango-group .btn-remove,
.card-dispositivo .dispositivo-config-link,
.card-dispositivo .btn-config-dropdown .dropdown-toggle{
  padding: 6px;
  height: 1px;
  width: 1px;
  border-radius: 50% !important;
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.rango-group .btn-remove,
.card-dispositivo:hover .dispositivo-config-link,
.card-dispositivo:hover .btn-config-dropdown .dropdown-toggle{
  opacity: 1;
  height: 32px;
  width: 32px;
}
.card-dispositivo .dropdown-menu.dropdown-menu-right{
  transform: translate3d(-128px, 32px, 0px) !important;
}


@media (max-width: 575px){
  .rango-group .btn-remove,
  .card-dispositivo .dispositivo-config-link,
  .card-dispositivo .btn-config-dropdown .dropdown-toggle{
    opacity: 1;
    height: 32px;
    width: 32px;
  }
}

#configModal.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(20%, 30%);
  transform: translate(20%, 30%);

}
#configModal.modal.show .modal-dialog {
  -webkit-transform: translate(0, 30%);
  -o-transform: translate(0, 30%);
  transform: translate(0, 30%);
}
#configModal.fade {
  transition: opacity .3s ease-in;
}

.rango-group input[type="range"]{
  width: 100%;
}

.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1070;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(255, 255, 255, .7);
}

/* Fix light-bootstrap-dashboard */
button:hover{
  cursor: pointer;
}

.card-information .card-header{
  background-color: rgba(0,0,0,.03);
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
  padding-right: 15px;
  display: table-cell;
}

.btn-danger.btn-link,
.btn-success.btn-link,
.btn-info.btn-link,
.btn-primary.btn-link,
.btn-warning.btn-link{
  border-color: transparent !important;
  background-color: transparent !important;
}

.table-sm td, .table-sm th {
  padding: .3rem !important;
}

h1, h2, h3, h4, h5{
  margin: 15px 0;
}

.alert button.close{
  color: #000;
  margin-top: -1.3rem;
  right: 20px;
}

.modal .modal-content .modal-header h4{
  margin: 0 !important;
}
.navbar .navbar-nav .nav-item .nav-link [class^="fa"]{
  line-height: 1;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-danger,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-info,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-warning,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-success {
  background-color: #cfcfca;
}

.tooltip.in{
  filter: alpha(opacity=90);
  opacity: .9;
}
